@import '_text-editor.scss';

::selection {
  color: #212529;
  background-color: #dee2e6;
}

a {
  span {
    display: none;
  }
	&:hover {
		span {
			display: block;
		}
	}
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.blog- {
  &primary-font {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;

    &:hover {
    text-decoration: none;
    }
  }

  &post {
    margin-bottom: 4rem;
  }

  &post-info {
    color: #727272;
  }

  &article {
    div:first-child {
      height: 310px;
      background: center center/cover no-repeat;
    }
    div:last-child {
      height: 310px;
      padding-left: 0;
    }
    &-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &post-thumb {
    height: 300px;
    filter: brightness(0.5);
    background: center center/cover no-repeat;
  }

  &profile-photo {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    padding-right: 6px;
    text-transform: uppercase;
  }

  &comment {
    gap: 24px;
    border-color: #343a40 !important;
    
    .link-danger {
      color: #727272 !important;

      &:hover {
        color: #b02a37 !important;
      }
    }
    
    &:last-child {
      border: none !important;
    }
  }

  &card {
    .card-body {
      height: 230px;
      background: center center/cover no-repeat;
    }
    .card-footer {
      min-height: 135px !important;
    }

    @media (min-width: 992px) {
      width: calc(33.33333333% - 16px) !important;
    }
    @media (min-width: 576px) and (max-width: 992px) {
      width: calc(50% - 12px) !important;
    }
    @media (max-width: 576px) {
      width: 100% !important;
    }
  }

  &post-content {
    display: block !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.form-control:focus {
  border-color: #949494;
  box-shadow: 0 0 0 0.25rem rgb(136 136 136 / 25%);
}

.form-check-input {
  &:checked {
    background-color: #343a40;
    border-color: rgba(222, 226, 230, 0.75);
  }
  &:focus {
    box-shadow: none;
    border-color: rgba(222, 226, 230, 0.75);
    background-image: url('../img/circle.svg') !important;
  }
}

.btn-not-focus, .btn-not-focus:active {
  border: none !important;
}

.rounded-3 {
  border-radius: 0.75rem !important;
}

@media (max-width: 768px) {
  .blog-article {
    div:first-child {
      border-radius: 0.75rem 0.75rem 0 0 !important;
    }
    div:last-child {
      padding-left: 0 !important;
      padding-top: 20px;
      height: 270px !important;
      padding: 16px !important;
      border: 1px solid rgba(108,117,125, 1) !important;
      border-radius: 0 0 0.75rem 0.75rem !important;
    }
    &-text {
      -webkit-line-clamp: 2;
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}