.blog-header-logo, .blog-footer-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo, .blog-footer-logo {
  &:hover {
  text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-info {
  color: #727272;
}

.btn-not-focus, .btn-not-focus:active {
  border: none !important;
}

.form-control:focus {
  border-color: #949494;
  box-shadow: 0 0 0 0.25rem rgb(136 136 136 / 25%);
}

.rounded-3 {
  border-radius: 0.75rem !important;
}

.blog-article {
  div:first-child {
    height: 310px;
    background: center center/cover no-repeat;
  }
  div:last-child {
    height: 310px;
    padding-left: 0;
  }
  &-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.blog-post-thumb {
	height: 300px;
	filter: brightness(0.5);
	background: center center/cover no-repeat;
}

@media (max-width: 992px) {
  .blog-header-logo {
    text-align: left !important;
  }
}

@media (max-width: 768px) {
  .blog-article {
    div:first-child {
      border-radius: 0.75rem 0.75rem 0 0 !important;
    }
    div:last-child {
      padding-left: 0 !important;
      padding-top: 20px;
      height: 270px !important;
      padding: 16px !important;
      border: 1px solid rgba(108,117,125, 1) !important;
      border-radius: 0 0 0.75rem 0.75rem !important;
    }
    &-text {
      -webkit-line-clamp: 2;
    }
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}